{% extends 'app.twig' %}

{% block content %}
    <h1>{{ trans('messages.developers') }}</h1>

{%  if(developers|length) %}
<table class="table">
    <tr><th></th>
        <th>{{ trans('messages.name') }}</th><th>{{ trans('messages.type') }}</th><th>{{ trans('messages.level') }}</th><th>{{ trans('messages.skills') }}</th></tr>
    {% for developer in developers %}
       <tr><td><a href="{{ url_route('editDeveloper', {'id': developer.id}) }}" class="glyphicon glyphicon-edit" title="{{ trans('messages.edit') }}"></a></td>
           <td>{{ developer.full_name }}</td>
           <td>{{developer.type.type}}</td>
           <td>{{developer.levelsString}}</td>
           <td>{{developer.skillsString}}</td>
       </tr>
    {% endfor %}
</table>
{% endif %}
<a href="{{ url_route('addDeveloper') }}">{{ trans('messages.add_developer') }}</a>
{% endblock %}