{% extends 'app.twig' %}

{% block content %}
    <link rel="stylesheet" href="{{ elixir('css/pages/peerreviewboard.css') }}">
    <script src="{{ elixir('js/peerreviewboard.js') }}"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootbox.js/4.4.0/bootbox.min.js"></script>

    <h1>{{trans('messages.peerreviewboard')}}</h1>
    <script>
        $(document).ready(function() {

            var localDataVars = [];
            {% for index, type in types %}

            var thisBoard = '{{type.slug}}_peerReviewBoard';

            {% if(index==0) %}
            $('#{{type.slug}}-tab').tab('show');
            {% endif %}
            localDataVars['{{index}}'] = thisBoard;
            restoreLocalData(thisBoard);

            $('#resetBoard_{{type.slug}}').on('click', function() {
                bootbox.confirm('{{ trans('messages.confirmReset') }}', function(result) {
                    if(result==true) {
                        resetLocalData('{{type.slug}}_peerReviewBoard');
                        location.reload();
                    }
                });

            });

            $('#saveBoard_{{type.slug}}').on('click', function() {
                bootbox.confirm('{{ trans('messages.confirmSave') }}', function(result) {
                    if(result==true) {
                        var $btn = $(this).button('loading');
                        storePeerReviewBoard(['{{type.slug}}'], $('meta[name=_token]').attr('content'));
                    }
                });

            });
            {% endfor %}
        });
    </script>
    <ul id="boardTabs" class="nav nav-tabs" role="tablist">
        {% for type in types %}
            <li role="presentation"><a href="#{{type.slug}}" role="tab" id="{{type.slug}}-tab" data-toggle="tab" aria-controls="{{type.slug}}" aria-expanded="true">{{type.type}}</a></li>
        {% endfor %}
        <li role="presentation"><a href="#oldBoards" role="tab" id="oldBoards-tab" data-toggle="tab" aria-controls="oldBoards" aria-expanded="true">{{ trans('messages.oldBoards') }}</a> </li>
    </ul>
    <div id="boardTabContent" class="tab-content">
        {% for type in types %}
            <div id="{{type.slug}}" role="tabpanel" class="tab-pane fade" aria-labelledby="{{type.slug}}-tab">
                <div class="col-md-6 peerReviewBoardEdit" id="{{type.slug}}_peerReviewBoard">
                    {% for column, columnText in columns %}
                    <div class="col-md-6 boardColumn" id="{{column}}Column">
                        {{columnText}}
                        {% for i in 0..type.developers|length %}
                            <div class="well reviewBoardSlot" ondrop="drop(event, false)" ondragover="allowDrop(event)"  id="{{type.slug}}_{{column}}_{{i}}"></div>
                        {% endfor %}
                    </div>
                    {% endfor %}
                </div>
                <div class="col-md-6">
                    <p class="text-right">
                       <button id="saveBoard_{{type.slug}}" class="btn btn-primary" data-loading-text="Saving..."><i class="glyphicon glyphicon-save"></i></button>
                       <button id="resetBoard_{{type.slug}}" class="btn btn-warning" data-loading-text="Resetting..."><i class="fa fa-undo"></i></button>
                    </p>

                {% for column, columnText in columns %}
                <div class="col-md-6 grabBagColumn" id="{{column}}GrabBag" ondrop="drop(event, true)" ondragover="allowDrop(event)">
                    {% for developer in type.developers %}
                        <div class="well reviewBoardEntry {{ column }}" draggable="true" ondragstart="drag(event)" id="{{type.slug}}_{{column}}_{{developer.id}}_developer">
                            <p>{{developer.fullName}}</p>
                            <p>{{developer.levelsString}}</p>
                            <p>{{developer.skillsString}}</p>
                            <i class="fa fa-github-alt"></i> &#64;{{developer.gitHubHandle}}
                        </div>
                    {% endfor %}
                </div>
                {% endfor %}
                </div>
            </div>
        {% endfor %}
        <div id="oldBoards" role="tabpanel" class="tab-pane fade" aria-labelledby="oldBoards-tab">
            <h3>{{ trans('messages.oldBoards') }}</h3>
            <table class="table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>{{ trans('messages.type') }}</th>
                    <th>{{ trans('messages.current_from') }}</th>
                    <th>{{ trans('messages.current_to') }}/{{ trans('messages.current') }}</th>
                </tr>
                </thead>
                <tbody>
                {% for board in oldBoards %}
                <tr>
                    <td>{{ board.id }}</td>
                    <td>{{ board.type.type }}</td>
                    <td>{{ board.current_from }}</td>
                    <td>{% if board.current %}<i class="text-success glyphicon glyphicon-ok"></i>{% else %}{{ board.current_to }}{% endif %}</td>
                    <td></td>
                </tr>
                {% endfor %}
                </tbody>
            </table>
            </div>
    </div>
{% endblock %}
