{% extends 'app.twig' %}

{% block content %}

    <link rel="stylesheet" href="{{ elixir('css/pages/peerreviewboard.css') }}">
    <h1>{{trans('messages.peerreviewboard')}}</h1>
    <ul id="boardTabs" class="nav nav-tabs" role="tablist">
        {% for board in boards %}
            {% set type = board.type %}
            <li role="presentation"><a href="#{{type.slug}}" role="tab" id="{{type.slug}}-tab" data-toggle="tab" aria-controls="{{type.slug}}" aria-expanded="true">{{type.type}}</a></li>
        {% endfor %}
    </ul>
    <div id="boardTabContent" class="tab-content">
        {% for index, board in boards %}

            {% set type = board.type %}
            {% if(index==0) %}
                <script>
                    $(document).ready( function () {
                        $('#{{type.slug}}-tab').tab('show');
                    });
                </script>
            {% endif %}
            <div id="{{type.slug}}" role="tabpanel" class="tab-pane fade" aria-labelledby="{{type.slug}}-tab">
                {% include 'PeerReview/peerreviewboard.twig' %}
            </div>
        {% endfor %}
    </div>
{% endblock %}
